.mesto__like-button {
  margin: 31px 20px 29px auto;
  padding: 0;
  width: 22px;
  max-height: 19px;
  box-sizing: border-box;
  background-color: var(--background-invert-color, #fff);
  border: 0px solid var(--font-color-light, #fff);
  border-radius: 2px;
  color: var(--font-color-dark);
  background-image: url(../../../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mesto__like-button:hover {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}