.popup__container {
  position: relative;
  padding: 34px 36px 37px;
  max-width: 430px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--background-invert-color);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}