.profile {
  /* Задумка, превратить блок в GRIP для резинки */
  width: var(--max-block-width);
  /* width: calc(100% - 2 * var(--profile-spacer-sides)); */
  /* margin: var(--profile-spacer-top) var(--profile-spacer-sides) 0; */
  margin: var(--profile-spacer-top) auto 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Минимально 3 карточки */
@media screen and (max-width: 917px) {
  .profile { 
    width: var(--max-block-width);
  }
}
/* Минимально 1 карточка */
@media screen and (max-width: 321px) {
  .profile {
    width: calc(100% - 2 * var(--spacer-sides));
    margin: var(--profile-spacer-top) auto 0;
  }
}

/* Минимально 1 карточка */
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2 * var(--spacer-sides)); 
    --spacer-sides: 19px;
  }
}