.footer {
  width: 100%;
  margin-top: var(--footer-spacer-top);
  margin-bottom: 56px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 320px) {
  .footer {
    height: var(--footer-spacer-top);
    margin-bottom: 33px;
  }
}