.form__input-label {
  margin: 0 0 16px;
  padding: 0;
  width: 100%;
  min-height: 46px;
}

.form__input-label:first-of-type {
  margin-top: 47px;
}

.form__input-label:last-of-type {
  margin-bottom: 0;
}